.button {
  @apply bg-green rounded-full text-white text-sm flex justify-center items-center h-12 w-72 clickable;

  &:disabled {
    @apply bg-gray_light;
    box-shadow: 0 10px 32px rgba(0, 0, 0, 0.08);
  }
}


.button-green {
  @apply bg-white rounded-full text-green text-sm flex justify-center items-center h-12 w-72 clickable border-green border-2 border-solid clickable;

  &:disabled {
    @apply border-gray_light text-gray_light;
    box-shadow: 0 10px 32px rgba(0, 0, 0, 0.08);
  }
}


.button,
.button-green {

  &:hover {
    box-shadow: 0 10px 32px rgba(0, 0, 0, 0.15);
  }

  &:disabled {
    pointer-events: none;
  }
}


