/* https://habr.com/ru/post/456302 */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

@import "reset.scss";
@import "variables.scss";
@import "basic.scss";
@import "blocks/flex.scss";
@import "blocks/button.scss";


html {
    height: 100%;
}

body {
    font-family: 'Noto Sans', sans-serif;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $white-mid;
    overflow-y: scroll;
    letter-spacing: 1px;
}

#root {
    height: 100%;
    margin: 0 $page-side-offset;
    display: flex;
    flex-direction: column;
}





.slider-slide {
    outline: none;
}
