/* https://habr.com/ru/post/456302 */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "GothamPro";
    src: url(./fonts/GothamPro.ttf);
    src: url(./fonts/GothamPro.woff) format("woff")
}

@font-face {
    font-family: "GothamProBlack";
    src: url(./fonts/GothamPro-Black.woff) format("woff")
}


@import "reset";
@import "variables";
@import "basic";
@import "blocks/button";
@import "blocks/offers-slider";


html {
    height: 100%;
}

body {
    font-family: 'Noto Sans', sans-serif;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $white-mid;
    overflow-y: scroll;
    letter-spacing: 1px;
}


#root {
    height: 100%;
    margin: 0 $page-side-offset;
    display: flex;
    flex-direction: column;
}


.slider {
    outline: none;
}


.slider-slide {
    outline: none;
}
