/* https://habr.com/ru/post/456302 */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "GothamPro";
    src: url(./fonts/GothamPro.ttf);
    src: url(./fonts/GothamPro.woff) format("woff")
}

@font-face {
    font-family: "GothamProBlack";
    src: url(./fonts/GothamPro-Black.woff) format("woff")
}


@import "reset";
@import "variables";
@import "basic";
@import "blocks/button";
@import "blocks/offers-slider";


html {
    height: 100%;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $white-mid;
    overflow-y: scroll;
    letter-spacing: 1px;
}


#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}


.layout-container {
    max-width: $container-max-width + $side-container-margin * 2;
    padding: 0 $side-container-margin;
    margin: 0 auto;
    min-height: inherit;
}


.slider {
    outline: none;
}


.slider-slide {
    outline: none;
}
