// Colors
$yellow: #FFD56F;

$green: #5FA874;
$green-light: #95C9AF;

$black: #000000;
$black-light: #1F1F1F;

$white: #FFFFFF;
$white-dark: #efefef;

$gray: #AEB3BE;
$gray-light: #e5e5e5;
$gray-dark: #2E3237;


$page-top-offset: 50px;

$header-height: 50px;

$logo-width: 144px;
$logo-height: 50px;