// Colors
$yellow: #FFD56F;

$green: #5FA874;
$green-light: #95c9af;

$black: #000000;
$black-light: #1F1F1F;

$white: #FBFBFB;
$white-dark: #EFEFEF;

$blue-light: #EFF3F8;

$gray: #AEB3BE;
$gray-light: #e5e5e5;
$gray-dark: #2E3237;


$page-top-offset: 50px;
$page-side-offset: 10px;

$container-max-width: 1280px;

$input-font-size: 16px;