@import "../../mixins";
@import "../../variables";


.saving-offer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0;

  @include desktop {
    grid-template-columns: 1fr 2fr;
  }

  @include tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include mobile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    & > div:first-child{
      order: 2;
    }
  }
}

.offer-text {
  margin-top: 16px;
  margin-bottom: 3rem;
}
