@import "../../mixins";
@import "../../variables";

.banner-wrapper {
	position: relative;
	padding-top: 7.2916vw;
	padding-bottom: 2.083vw;
}


.banner {
	background-image: url("../../images/png/phone-banner-mask.png");
	background-repeat: no-repeat;
	background-position: center right;
	background-size: 66.5% 91.66%;

	.layout-container {
		height: 600px;
	}

	@include desktop {
		background-size: 66.5% 91.66%;

		.layout-container {
			height: 31.25vw;
		}
	}

	@include tablet {
		background-size: 66.5% 91.66%;

		.layout-container {
			height: 31.25vw;
		}
	}
}


.banner-info {
	max-width: 34vw;
}


.banner-phone {
	position: relative;
	top: -2.491667vw;
	width: 22.5vw;
}


.banner-btn {
	box-shadow: 0 10px 32px rgba(0, 0, 0, 0.08);
}
