@import "../../variables";


$left-side-width: 60.73%;


.banner {
  position: relative;
  height: calc(100vh - #{$header-height});
  overflow: hidden;
}

.info {
  position: relative;
  z-index: 1;

  .text-base {
    margin: 4.5vmin 0 6vmin 0;
  }

  .button {
    width: 248px;
  }
}

.plate-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
}

.plate {
  width: 70vmin;
}


.right-side,
.left-side {
  position: absolute;
  height: 100%;
  top: 0;
}


.left-side {
  width: $left-side-width;
  left: 0;
}


.right-side {
  width: 100 - $left-side-width;
  right: 0;
}
