@import "../variables";

header {
    height: $header-height;
    min-height: $header-height;
    width: 100%;
    font-size: 20px;
    box-shadow: 0 10px 20px rgba(51, 51, 51, 0.1);
}

.logo-wrapper {
    width: 315px;
}

.logo {
    position: relative;
}

.controls {
    transition: all 0.3s ease-in;
}

.search {
    position: relative;
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in;

    input {
        background: $white-dark;
        transition: all 0.3s ease-in;
        height: 40px;
        position: relative;
        top: -8px;
        left: 10px;
        border-radius: 20px;
        text-indent: 20px;
    }

    button {
        position: absolute;
        right: 0;
        top: 0;
    }
}
