@import "../variables";

header {
    height: $page-top-offset;
    margin: $page-top-offset $page-side-offset 0 $page-side-offset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $container-max-width;
}

nav {
    margin-left: 73px;
    margin-right: 84px;
    width: 100%;
}

.controls {
    width: 350px;
}

.search {
    position: relative;

    input {
        background: $white-dark;
        width: 237px;
        height: 40px;
        border-radius: 20px;
        text-indent: 20px;
    }

    button {
        position: absolute;
        right: 15px;
        top: 8px;
    }
}